
        <!-- Navigation-->
       <nav class="navbar navbar-expand-lg navbar-light fixed-top py-3" id="mainNav">
    <div class="container px-4 px-lg-5">
        <a class="navbar-brand" href="#">Suco Maria Peregrina</a> 
        <button class="navbar-toggler navbar-toggler-right" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ms-auto my-2 my-lg-0">
                <li class="nav-item"><a class="nav-link" href="https://www.instagram.com/sucomariaperegrina/"><img src="assets/img/icons/instagram.svg" alt="Instagram"></a></li>
                <li class="nav-item"><a class="nav-link" href="https://www.facebook.com/p/Sucomariaperegrina-100076134433405/"><img src="assets/img/icons/facebook.svg" alt="Facebook"></a></li>
            </ul>
        </div>
    </div>
</nav>

        <!-- Masthead-->
        <header class="masthead">
            <div class="container px-4 px-lg-5 h-100">
                <div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center">
                    <div class="col-lg-8 align-self-end">
                        <h1 class="text-white font-weight-bold">Suco Maria Peregrina</h1>
                        <hr class="divider" />
                    </div>
                    <div class="col-lg-8 align-self-baseline">
                        <p class="text-white-75 mb-5">Descubra o Suco Maria Peregrina, uma opção saudável e deliciosa para você que busca uma vida mais saudável, você que busca ter uma vida melhor. Ao escolher o Suco Maria Peregrina, você não apenas desfruta de um produto de alta qualidade, mas também apoia a Escola Maria Peregrina que não recebe ajuda do governo.
Faça seu plano para receber sucos todo mês no conforto da sua casa. Qual quer dúvida entre em contato com a gente!</p>
                        <a class="btn btn-primary btn-xl" href="#about">Conheça mais dos planos</a>
                    </div>
                </div>
            </div>
        </header>
        <!-- About-->
        <section class="page-section bg-primary" id="about">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-lg-8 text-center">
    <h2 class="text-white mt-0">Planos do Suco Maria Peregrina</h2>
    <hr class="divider divider-light" />
    <p class="text-white-75 mb-4">Nós oferecemos 2 planos para você poder saborear o máximo do nosso produto. Com ele você consegue economizar mais no seu bolso, irá receber toda semana uma quantidade de suco (dependendo do plano) e além de tudo ajuda na manutenção e expansão da Escola Maria Peregrina.</p>
    <a class="btn btn-light btn-xl" href="https://bit.ly/AssineSuco">Veja os planos de suco</a>
                </div>

                </div>
            </div>
        </section>
        <!-- Services-->
        <section class="page-section" id="services">
            <div class="container px-4 px-lg-5">
                <h2 class="text-center mt-0">Conheça o suco</h2>
                <hr class="divider" />
                <div class="row gx-4 gx-lg-5">
                    <div class="col-lg-3 col-md-6 text-center">
                        <div class="mt-5">
                            <img src="assets/img/sugar.png" alt="portfolio"></a></li>
                            <h3 class="h4 mb-2">Sem adição de açúcar</h3>
                            <p class="text-muted mb-0">Cada gota deste suco é naturalmente doce, proveniente apenas das laranjas frescas que escolhemos com cuidado. Livre de qualquer adição de açúcar.</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 text-center">
                        <div class="mt-5">
                            <img src="assets/img/parabeno.png" alt="portfolio"></a></li>
                            <h3 class="h4 mb-2">Sem conservantes</h3>
                            <p class="text-muted mb-0">Optamos por um processo de produção que preserva integralmente o sabor e os nutrientes das laranjas, sem a necessidade de conservantes artificiais. Assim, garantimos que você desfrute de um suco puro e verdadeiramente fresco.

</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 text-center">
                        <div class="mt-5">
                            <img src="assets/img/orange.png" alt="portfolio"></a></li>
                            <h3 class="h4 mb-2">Feito com as melhores laranjas</h3>
                            <p class="text-muted mb-0">Utilizamos apenas laranjas de alta qualidade, colhidas no ponto perfeito de maturação para garantir um sabor inigualável.</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 text-center">
                        <div class="mt-5">
                            <img src="assets/img/escola.png" alt="portfolio"></a></li>
                            <h3 class="h4 mb-2">Ajuda na manutenção da escola Maria Peregrina</h3>
                            <p class="text-muted mb-0">Além de degustar desse suco maravilhoso, você estará contribuindo para uma educação que não possui ajuda financeira do governo.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Portfolio-->
        <div id="portfolio">
            <div class="container-fluid p-0">
                <div class="row g-0">
                    <div class="col-lg-4 col-sm-6">
                        <a class="portfolio-box" href="assets/img/copo1.png">
                            <img class="img-fluid" src="assets/img/copo1.png" alt="..." /> 
                        </a>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <a class="portfolio-box" href="assets/img/copo2.png">
                            <img class="img-fluid" src="assets/img/copo2.png" alt="..." />
                        </a>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <a class="portfolio-box" href="assets/img/copo3.png">
                            <img class="img-fluid" src="assets/img/copo3.png" alt="..." />
                        </a>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <a class="portfolio-box" href="assets/img/copo4.png">
                            <img class="img-fluid" src="assets/img/copo4.png" alt="..." />
                        </a>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <a class="portfolio-box" href="assets/img/copo5.png">
                            <img class="img-fluid" src="assets/img/copo5.png" alt="..." />
                        </a>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <a class="portfolio-box" href="assets/img/copo6.png">
                            <img class="img-fluid" src="assets/img/copo6.png" alt="..." />
                        </a>
                    </div>
                </div>
                
            </div>
        </div>
        <!-- Call to action-->
        <section class="page-section bg-dark text-white"> 
            <div class="container px-4 px-lg-5 text-center">
                <h2 class="mb-4">Tem interesse em conheçer mais sobre nossa escola? Clique no botão saiba mais!</h2>
                <a class="btn btn-light btn-xl" href="https://mariaperegrina.org.br">Saiba mais!</a>
            </div>
        </section>
        <!-- Contact-->
        <section class="page-section" id="contact">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-lg-8 col-xl-6 text-center">
                        <h2 class="mt-0">Entre em contato conosco!</h2>
                        <hr class="divider" />
                        <p class="text-muted mb-5">Preencha o formulário abaixo e mande sua dúvida, sugestão ou reclamações!</p>
                    </div>
                </div>
                <div class="row gx-4 gx-lg-5 justify-content-center mb-5">
                    <div class="col-lg-6">
                        <!-- * * * * * * * * * * * * * * *-->
                        <!-- * * SB Forms Contact Form * *-->
                        <!-- * * * * * * * * * * * * * * *-->
                        <!-- This form is pre-integrated with SB Forms.-->
                        <!-- To make this form functional, sign up at-->
                        <!-- https://startbootstrap.com/solution/contact-forms-->
                        <!-- to get an API token!-->
                        <form id="contactForm" data-sb-form-api-token="API_TOKEN">
                            <!-- Name input-->
                            <div class="form-floating mb-3">
                                <input class="form-control" id="name" type="text" placeholder="Enter your name..." data-sb-validations="required" />
                                <label for="name">Nome</label>
                                <div class="invalid-feedback" data-sb-feedback="name:required">Nome completo é obrigatório.</div>
                            </div>
                            <!-- Email address input-->
                            <div class="form-floating mb-3">
                                <input class="form-control" id="email" type="email" placeholder="name@example.com" data-sb-validations="required,email" />
                                <label for="email">Email</label>
                                <div class="invalid-feedback" data-sb-feedback="email:required">Um email é obrigatório.</div>
                                
                            </div>
                            <!-- Phone number input-->
                            <div class="form-floating mb-3">
                                <input class="form-control" id="phone" type="tel" placeholder="(123) 456-7890" data-sb-validations="required" />
                                <label for="phone">Número de telefone</label>
                                <div class="invalid-feedback" data-sb-feedback="phone:required">Um número de telefone é obrigatório.</div>
                            </div>
                            <!-- Message input-->
                            <div class="form-floating mb-3">
                                <textarea class="form-control" id="message" type="text" placeholder="Enter your message here..." style="height: 10rem" data-sb-validations="required"></textarea>
                                <label for="message">Mensagem</label>
                                <div class="invalid-feedback" data-sb-feedback="message:required">Uma mensagem é obrigatória.</div>
                            </div>
                            <!-- Submit success message-->
                            <!---->
                            <!-- This is what your users will see when the form-->
                            <!-- has successfully submitted-->
                            <div class="d-none" id="submitSuccessMessage">
                                <div class="text-center mb-3">
                                    <div class="fw-bolder">Form submission successful!</div>
                                    To activate this form, sign up at
                                    <br />
                                    <a href="https://startbootstrap.com/solution/contact-forms">https://startbootstrap.com/solution/contact-forms</a>
                                </div>
                            </div>
                            <!-- Submit error message-->
                            <!---->
                            <!-- This is what your users will see when there is-->
                            <!-- an error submitting the form-->
                            <div class="d-none" id="submitErrorMessage"><div class="text-center text-danger mb-3">Error sending message!</div></div>
                            <!-- Submit Button-->
                            <div class="d-grid"><button class="btn btn-primary btn-xl disabled" id="submitButton" type="submit">Enviar</button></div>
                        </form>
                    </div>
                </div>
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-lg-4 text-center mb-5 mb-lg-0">
                       <!-- Exemplo usando <i> e <img> juntos (embora o uso de <i> não seja típico para imagens) -->
<i class="">
    <img src="assets/img/icons/zap.svg" alt="Ícone Zap">
</i>

                        <div> (17) 98811-7656</div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Footer-->
        <footer class="bg-light py-5">
            <div class="container px-4 px-lg-5"><div class="small text-center text-muted">Todos os direitos reservados &copy; 2024 - Suco Maria Peregrina</div></div>
        </footer>

