<div class="container mt-5">
  <div class="row">
    <!-- Lado Esquerdo: Título e Parágrafos -->
    <div class="col-lg-6">
      <h2>Suco Maria Peregrina</h2>
      <p>Conheça nosso suco 100% natural que ajuda a manter a escola Maria Peregrina</p>
      <p>Conheça mais seguindo nosso Instagram: @sucomariaperegrina</p>
    </div>
    <!-- Lado Direito: Imagem -->
    <div class="col-lg-6">
      <img src="/assets/img_1/orange_juice.jpg" class="img-fluid" alt="Imagem Principal">
    </div>
  </div>
</div>