<div class="container-fluid main-section">
  <div class="row">
    <!-- Lado Esquerdo: Título e Parágrafos -->
    <div class="col-lg-6 text-center text-lg-start">
      <h1>Suco Maria Peregrina</h1>
      <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eget sapien magna. Vestibulum nec lorem sed lectus varius congue.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eget sapien magna. Vestibulum nec lorem sed lectus varius congue.</p>
    </div>
    <!-- Lado Direito: Imagem -->
    <div class="col-lg-6 text-center">
      <img src="/assets/img_3/suco.jpg" class="img-fluid" alt="Imagem Principal"> <!-- Substitua pelo caminho correto da sua imagem -->
    </div>