<div class="container mt-5">
  <div class="row">
    <!-- Vídeo em Destaque -->
    <div class="col-lg-6">
      <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="https://www.youtube.com/shorts/ACKpEhq5ee8" allowfullscreen></iframe>
      </div>
    </div>
    <!-- Texto Descritivo -->
    <div class="col-lg-6">
      <h2>Vídeo sobre o Suco Maria Peregrina</h2>
      <p>Conheça nosso suco 100% natural que ajuda a manter a escola Maria Peregrina</p>
      <p>Conheça mais seguindo nosso Instagram: @sucomariaperegrina</p>
    </div>